/* Reseteo básico de márgenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fondo y color base */
body {
    font-family: Arial, sans-serif; /* Define la fuente */
    background-color: #f0f0f0; /* Color de fondo claro */
    color: #333; /* Color del texto */
    line-height: 1.6; /* Interlineado para mejor legibilidad */
}

/* Estilos para el contenedor principal */
h1 {
    color: #4CAF50; /* Color verde para el título */
    text-align: center; /* Centrar el texto */
    padding: 20px 0; /* Espaciado arriba y abajo */
}

/* Estilo para los inputs */
input[type="text"] {
    padding: 10px; /* Espaciado dentro del input */
    border-radius: 4px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de texto */
}

input[type="text"]:focus {
    border-color: #4CAF50; /* Cambiar borde cuando el input está enfocado */
}

/* Estilos para el botón del formulario */
button {
    background-color: #4CAF50; /* Fondo verde */
    color: white; /* Texto blanco */
    padding: 10px 20px; /* Espaciado dentro del botón */
    border: none; /* Sin borde */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor a pointer */
    font-size: 16px;
    margin-top: 10px;
}

/* Estilo para la lista de tareas */
ul {
    list-style-type: none; /* Sin viñetas */
    padding-left: 0; /* Eliminar el padding izquierdo */
}

li {
    padding: 10px;
    background-color: #fff; /* Fondo blanco para las tareas */
    border: 1px solid #ddd; /* Borde gris claro */
    margin-bottom: 50px; /* Espaciado entre tareas */
    border-radius: 10px; /* Bordes redondeados */
}

li:hover {
    background-color: #f4f4f4; /* Fondo gris claro al pasar el mouse */
}

.contenedor-flex{
  display: flex; /* Activa Flexbox */
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
  flex-direction: column; /* Elementos apilados verticalmente */
  align-items: center; /* Centra horizontalmente los elementos */
  gap: 250px; /* Espacio entre los elementos */
  margin-bottom: 30px; /* Separación del título */
}
  
